body {
  background-color: #DDD;
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
}

.build {
  border: 2px groove green;
  background-color: #AFA;
  padding: 5px;
  float: left;
  margin: 2px;

  /* without this, weirdness can happen when playing with text sizes:
      changing font-size from 700 to 701 will actually make boxes take up
      less height total in firefox
  */ 
  line-height: 100%;
  cursor: pointer;
}

.building {
  font-style: italic;
  background-image: url(building.gif);
}

.failure {
  border-color: red;
  background-color: #FAA;
}

.building.failure {
  background-image: url(building-failure.gif);
}

.settings_button {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url(settings-button-closed.png);
  cursor: pointer;
}

.settings_button.opened {
  right: -2;
  top: -2;
  background-image: url(settings-button-opened.png);
}

#settings_panel {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 25px 6px 6px;
  visibility: hidden;
  border: 2px solid blue;
  background: #817fff;
}

a {
  text-decoration: none;
  color: black;
}
